/* Footer */
.myFooter {
  padding: 1rem;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: var(--footer-links);
  position: relative;
  flex-wrap: wrap;
}
.myInfo {
  flex: 1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.myLinks {
  margin-left: auto;
  display: flex;
  gap: 1rem;
}

.myLinks a {
  color: var(--footer-links);
  text-decoration: none;
  transition: color 0.2s ease;
}

.myLinks a:hover {
  color: var(--color-links-active);
}

@media (max-width: 600px) {
  .myFooter {
    justify-content: center;
  }
  .myInfo {
    position: static;
    transform: none;
  }
  .myLinks {
    margin-left: 0;
  }
}
