.navbar {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: var(--background-color);
}

.navbar a {
  text-decoration: none !important;
  color: black;
}

.navLink {
  position: relative;
  padding: 0.5rem 0;
  display: inline-block;
}

.active {
  color: blue;
}

.underline {
  position: absolute;
  bottom: 0.7rem;
  height: 0.15rem;
  background: var(--color-links-active);
  border-radius: 0.15rem;
  left: 0;
  transition: transform 0.3s ease, width 0.3s ease;
}
