:root {
  --color-links-active: rgb(80, 92, 226);
  --links-color: black;
  --background-color: rgb(222, 227, 246);
  --footer-text:beige;
  --footer-links:#aaa;
}
* {
  padding: 0;
  margin: 0;
}
.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
}

html {
  font-family: 'Arial Narrow Bold', sans-serif;
  font-size: 16px;
}

h1 {
  padding: 1rem;
}
a {
  color: var(--links-color);
}
.active {
  color: var(--color-links-active);
}

